<!DOCTYPE html>
<html lang="pt-br">

  <%- include("includes/headConsultas.ejs") -%>

<body>
  <!-- Preloader -->
  <%- include("includes/preloader.ejs") -%>
  <%- include("includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url('img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Convênios</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Convênios</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

 <!-- Dento Pricing Table Area Start -->
 <section class="dento-pricing-table-area section-padding-100">
        <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                <h2>Convênios</h2>
                <div class="line-pink"></div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-12">
              <div class="dento-price-table table-responsive">
                <table class="table table-borderless mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Nome do convênio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% convenios.forEach(function(convenio){ %>
                    <tr>
                      <th scope="row"><%= convenio.description %></th>
                    </tr>
    
                    <% }) %>
    
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- Dento Pricing Table Area End -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="js/default-assets/active.js"></script>

</body>

</html>