<!DOCTYPE html>
<html lang="pt-br">
  <%- include("includes/headConsultas.ejs") -%>

<body>
  <%- include("includes/preloader.ejs") -%>
  <%- include("includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"
        style="background-image: url(img/bg-img/1.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Especialidades Médicas</h2>
                <p data-animation="fadeInUp" data-delay="300ms">A Docs Saúde realiza atendimento em diversas
                  especialidades médicas
                  dentre essas, temos:
                </br>Dermatologia, Cardiologia, Clínica Médica, Endocrinologia, Gastroenterologia,
                  Ginecologia e muito mais!</p>
                <div class="welcome-btn-group">
                  <a href="/consultas/especialidades-medicas" class="btn dento-btn mx-2" data-animation="fadeInUp"
                    data-delay="500ms">Saiba Mais</a>
                  <a href="/contato" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Fale
                    Conosco</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"
        style="background-image: url(img/bg-img/estetica.png);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Estética</h2>
                <p data-animation="fadeInDown" data-delay="300ms">Oferecemos tratamentos estéticos que visam realçar a
                  beleza e melhorar imperfeições faciais e corporais. Consulte nossos tratamentos.</p>
                <div class="welcome-btn-group">
                  <a href="/consultas/estetica" class="btn dento-btn mx-2" data-animation="fadeInDown"
                    data-delay="500ms">Saiba Mais</a>
                  <a href="/contato" class="btn dento-btn mx-2 active" data-animation="fadeInDown"
                    data-delay="700ms">Fale
                    Conosco
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"
        style="background-image: url(img/bg-img/terapia.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Terapias</h2>
                <p data-animation="fadeInDown" data-delay="300ms">As terapias - Nutrição e Psicologia - oferecidas na
                  Docs Saúde visam a melhora do estado físico e psíquico de nossos pacientes, levando ao bem-estar e a
                  melhora da autoestima.</p>
                <div class="welcome-btn-group">
                  <a href="/consultas/terapias" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Saiba Mais</a>
                  <a href="/contato" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Fale
                    Conosco
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Faça o bem você também</h2>
            <div class="line-pink"></div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="img/core-img/faca_o_bem_voce_tambem.png" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->

            <div style="text-align: justify;"> 
              <p>
                Ao doar 2Kg de alimentos não perecíveis* em uma de nossas Unidades e você terá um valor diferenciado por sua
                consulta médica.
                Todo alimento arrecadado é doado mensalmente para instituições com projetos de cuidados sociais.
                *exceto sal e açúcar
              </p>
              <p>Enraizado em nós a necessidade de ajudar ao próximo, criamos a campanha <a href="https://www.facebook.com/cartaofacaobem" target="_blank" > <span style="color: #dc3545;">Faça o Bem Você Também</span> </a>. Através
                dela, todos podem ajudar aqueles que mais necessitam.
                O paciente que doa 2kg de alimentos, hoje os 2kg é substituido pela doação de R$ 8,00 revertido em alimentos, realiza a consulta por um valor simbólico e leva aos que sentem
                fome, um sopro de esperança e amor. </br>Juntos formamos uma corrente do bem... e ela só se multiplica.
                No ano de 2019 chegamos a mais de 5 toneladas de alimentos doados.
                Levamos saúde e bem estar ao próximo, pois conhecemos nossos pacientes e as suas dores.
                Valorizamos o acolhimento, a benevolência, o comprometimento com a saúde do próximo, de forma ética.
                Depositamos fé no que fazemos e somos gratos por tudo aquilo que os nossos pacientes, colegas e
                colaboradores representam à nossa marca.
              </p>
            </div>
            
            <div class="col text-center">
              <a href="https://www.facebook.com/cartaofacaobem" target="_blank" class="btn dento-btn booking-btn">Saiba Mais</a>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <section class="especialidades-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Especialidades</h2>
            <div class="line-pink"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 block-13">
          <div class="owl-carousel nonloop-block-13">
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/clinicamedica" class="img d-block"
                style="background-image: url('img/bg-img/clinica-medica.jpg')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a class="text-justify" href="/especialidade/clinicamedica">Clínica Médica</a></h5>
                <p class="text-center limit15">O médico clinico é conhecedor de diversas doenças e está apto a tratar
                  várias
                  delas, podendo também lhe indicar o melhor profissional para uma doença especifica</p>
                <div class="col text-center">
                  <a href="/especialidade/clinicamedica" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/psiquiatria" class="img d-block"
                style="background-image: url('img/bg-img/psiquiatria.png')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/psiquiatria">Psiquiatria</a></h5>
                <p class="text-center limit15">Especialidade médica que diagnostica, acompanha, trata e reabilita
                  pacientes que
                  apresentam alterações psíquicas, sejam eles de cunho orgânico ou funcional, abrangendo uma grande
                  quantidade de diagnósticos</p>
                <div class="col text-center">
                  <a href="/especialidade/psiquiatria" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/dermatologia" class="img d-block"
                style="background-image: url('img/bg-img/dermatologista.png')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/dermatologia">Dermatologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que se dedica a prevenção, diagnóstico e
                  tratamento
                  clínico
                  e cirúrgico das doenças relacionados à pele, unhas, cabelos, mucosas e pelos (anexos cutâneos)</p>
                <div class="col text-center">
                  <a href="/especialidade/dermatologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/cardiologia" class="img d-block"
                style="background-image: url('img/bg-img/cardiologia.jpg')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/cardiologia">Cardiologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que cuida e diagnostica as doenças relacionadas
                  ao
                  coração
                  e sistema circulatório. O médico que se especializa nessa área é o cardiologista. A medicina
                  cardiológica
                  realiza diagnósticos e prescreve tratamentos relacionados aos transtornos do coração e vasos
                  sanguíneos. </p>
                <div class="col text-center">
                  <a href="/especialidade/cardiologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/alergologia" class="img d-block"
                style="background-image: url('img/bg-img/alergologia.jpg')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/alergologia">Alergologia</a></h5>
                <p class="text-center limit15">É a especialidade que visa o diagnóstico e o tratamento alergias. Hoje é
                  chamada
                  de alergia e imunologia,
                  pois o médico deve ser conhecedor não só de alergias, mas também ser capaz de reconhecer as doenças
                  imunológicas de todas as
                  idades, embora tratem de sistema distintos. </p>
                <div class="col text-center">
                  <a href="/especialidade/alergologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/angiologia" class="img d-block"
                style="background-image: url('img/bg-img/angiologia.jpg')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/angiologia">Angiologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que se ocupa do tratamento clínico das doenças
                  que
                  acometem vasos sanguíneos (artérias e veias) e vasos linfáticos.</p>
                <div class="col text-center">
                  <a href="/especialidade/angiologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/endocrinologia" class="img d-block"
                style="background-image: url('img/bg-img/endocrinologia.jpg')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/endocrinologia">Endocrinologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que estuda as desordens do sistema endócrino e
                  suas
                  secreções específicas, ou seja,
                  cuida do funcionamento das diversas glândulas responsáveis por produzir hormônios responsável pelo
                  equilíbrio do corpo humano.</p>
                <div class="col text-center">
                  <a href="/especialidade/endocrinologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/gastroenterologia" class="img d-block"
                style="background-image: url('img/bg-img/gastroenterologia.jpg')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/gastroenterologia">Gastroenterologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que estuda, diagnóstica e trata das doenças do
                  aparelho
                  digestivo, que compreende boca, esôfago, estomago, intestino delgado e grosso, colon, reto, pâncreas,
                  vesícula biliar, ductos biliares e fígado.</p>
                <div class="col text-center">
                  <a href="/especialidade/gastroenterologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/ginecologia" class="img d-block"
                style="background-image: url('img/bg-img/ginecologia.png')"></a>
              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/ginecologia">Ginecologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que lida com a saúde do aparelho reprodutor
                  feminino
                  (vagina, ovários, útero)
                  e mamas, sua fisiologia e patologias, bem como cuida da prevenção e orientação quanto a doenças
                  sexualmente transmissíveis.</p>
                <div class="col text-center">
                  <a href="/especialidade/ginecologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/neurologia" class="img d-block"
                style="background-image: url('img/bg-img/neurologia.jpg')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/neurologia">Neurologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que trata dos distúrbios estruturais
                  do sistema nervoso central e periférico, autônomo, parassimpático e simpático.</p>
                <div class="col text-center">
                  <a href="/especialidade/ginecologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/nutricao" class="img d-block"
                style="background-image: url('img/bg-img/nutricionista.jpg')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/nutricao">Nutrição</a></h5>
                <p class="text-center limit15">A nutrição clínica é a área da saúde que se ocupa de diagnosticar, tratar
                  e prevenir doenças de origem alimentar através da história do paciente, investigação alimentar
                  e elaboração de cardápio individualizado de acordo com o objetivo do paciente (perda de peso, ganho de
                  massa ou peso, manutenção do peso).</p>
                <div class="col text-center">
                  <a href="/especialidade/nutricao" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/ortopedia" class="img d-block"
                style="background-image: url('img/bg-img/ortopedia.jpg')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/ortopedia">Ortopedia</a></h5>
                <p class="text-center limit15">É a especialidade médica que se dedica ao estudo e tratamento do sistema
                  locomotor
                  (ossos, músculos, ligamentos e articulações) e da coluna vertebral. O ortopedista também pode ser
                  traumatologista,
                  que trata dos traumas e fraturas do aparelho músculo-esquelético.</p>
                <div class="col text-center">
                  <a href="/especialidade/ortopedia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/otorrino" class="img d-block"
                style="background-image: url('img/bg-img/otorrinolaringologista.jpg')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/otorrino">Otorrinolaringologista</a></h5>
                <p class="text-center limit15">É a especialidade médica que tem por objetivo o estudo e tratamento das
                  doenças
                  que acometem a orelha, o nariz, seios paranasais, garganta (faringe e laringe) cabeça e pescoço.</p>
                <div class="col text-center">
                  <a href="/especialidade/otorrino" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/pediatria" class="img d-block"
                style="background-image: url('img/bg-img/pediatria.jpg')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/pediatria">Pediatria</a></h5>
                <p class="text-center limit15">É a especialidade médica que estuda as doenças desde o recém-nascido até
                  a adolescência.</p>
                <div class="col text-center">
                  <a href="/especialidade/pediatria" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
        
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/psicologia" class="img d-block"
                style="background-image: url('img/bg-img/psicologia.jpg')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/psicologia">Psicologia</a></h5>
                <p class="text-center limit15">É a área responsável pelo estudo do comportamento e as funções mentais.
                  O psicólogo é o profissional responsável por esse tipo de atendimento e ele pode seguir diversas
                  linhas de abordagens como a social, a comportamental e a cognitiva.
                </p>
                <div class="col text-center">
                  <a href="/especialidade/psicologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-flex listing vertical">
              <a href="/especialidade/reumatologia" class="img d-block"
                style="background-image: url('img/bg-img/reumatologia.png')"></a>

              <div class="lh-content">
                <span class="category">Consulta</span>
                <h5><a href="/especialidade/reumatologia">Reumatologia</a></h5>
                <p class="text-center limit15">É a especialidade médica que diagnostica e trata de doenças reumáticas e
                  osteoarticulares, que acometem os tecidos conjuntivos (doenças do colágeno),
                  que incluem as articulações, os ossos, os músculos, os tendões e os ligamentos.</p>
                <div class="col text-center">
                  <a href="/especialidade/reumatologia" class="btn dento-btn booking-btn">Saiba Mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">10</span></h2>
            <h5>Anos no mercado</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="icon-light-blue single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2>+<span class="counter">390</span>Mil</h2>
            <h5>Pacientes Atendidos</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="icon-pink single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">17</span></h2>
            <h5>Especialidades</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="icon-yellow single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2>+<span class="counter">50</span></h2>
            <h5>Convênios</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix"
    style="background-image: url('img/bg-img/historia.png');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>História da Docs Saúde</h2>
              <div class="line-pink"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="img/core-img/acolhimento.png"
                    alt="">
                  <h6>Acolhimento</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="img/core-img/benevolencia.png"
                    alt="">
                  <h6>Benevolência</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="img/core-img/comprometimento.png"
                    alt="">
                  <h6>Comprometimento</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="img/core-img/equidade.png" alt="">
                  <h6>Equidade</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="img/core-img/etica.png" alt="">
                  <h6>Ética</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="img/core-img/fé.png" alt="">
                  <h6>Fé</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <div class="resp-container">
              <iframe class="resp-iframe" src="https://www.youtube.com/embed/kBHTI-ZSxFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Service Area End -->

  <!-- Dento Pricing Table Area Start -->
  <section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Convênios</h2>
            <div class="line-pink"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Nome do convênio</th>
                </tr>
              </thead>
              <tbody>
                <% convenios.forEach(function(convenio){ %>
                <tr>
                  <th scope="row"><%= convenio.description %></th>
                </tr>

                <% }) %>

              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="/convenios" class="btn dento-btn booking-btn">Ver Mais <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Pricing Table Area End -->

  <%- include("includes/contato.ejs") -%>

  <!-- ***** Dento Dentist Area Start ***** -->
  <%- include("includes/unidades.ejs") -%>
  <!-- ***** Dento Dentist Area End ***** -->
  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- ***** Testimonials Area Start ***** -->
  <section class="section-padding-100">
    <%- include("includes/blog.ejs") -%>
  </section>
  <!-- ***** Testimonials Area End ***** -->


  <!-- ***** Footer Area Start ***** -->
  <%- include("includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="js/default-assets/active.js"></script>
  <!--Carrousel-->
  <script src="js/owl.carousel.min.js"></script>

</body>

</html>